

@model WebQuanAn.Models.ThucDonUpdateModel

<h4>Cập nhật thông tin</h4>
<hr />
<div class="row">
    <div class="d-flex flex-wrap">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-12">

            <input asp-for="uId" id="idpb" readonly hidden class="form-control" />

        </div>
        <div class="form-group col-6">
            <label asp-for=" uTenMon" class="control-label"></label>
            <input asp-for="uTenMon" class="form-control" />
            <span asp-validation-for="uTenMon" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for=" Mota" class="control-label"></label>
            <input asp-for="Mota" class="form-control" />
            <span asp-validation-for="Mota" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for=" uGia" class="control-label"></label>
            <input asp-for="uGia" class="form-control" />
            <span asp-validation-for="uGia" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for=" uMaLoai" class="control-label"></label>
            <select asp-for="uMaLoai" class="form-control" asp-items="ViewBag.MaLoai"></select>
            <span asp-validation-for="uMaLoai" class="text-danger"></span>
        </div>

        <div class="form-group col-6">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="uTrangThai" /> @Html.DisplayNameFor(model => model.uTrangThai)
                </label>
            </div>
        </div>
        @{ var imgName = Model.uId + "_" + Model.uHinhAnh;}
        <div class="form-group col-6">
            <label for="ImageFile" class="control-label">Hình Ảnh:&nbsp;</label><input asp-for="uImageFile" accept="image/*" id="imgfile" />
            <br />
            <img src="~/Images/@imgName" id="imgTD" width="100" height="100" />

            <input asp-for="uHinhAnh" hidden id="UrlHinh" />
        </div>



    </div>
</div>

<div>

</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script>
    function readURLc(input) {


        if (input.files && input.files[0]) {
            var reader = new FileReader();
            $('#UrlHinh').val(input.files[0].name);
            reader.onload = function (e) {
                $('#imgTD').attr('src', e.target.result);


            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgfile").change(function () {

        readURLc(this);


    });
    function UploadFile(id) {

        var fileName = $("#imgfile").val();

        var ImgName = $('#UrlHinh').text();
        if (fileName) { // returns true if the string is not empty
            var fileUpload = $("#imgfile").get(0);

            var files = fileUpload.files;

            var data = new FormData();

            data.append(files[0].name, files[0], id + "_" + files[0].name);


            $.ajax({

                type: "POST",

                url: "/PageHelper/CoppyImage/",

                contentType: false,

                processData: false,

                data: data,

                async: false,


                success: function (message) {



                },

                error: function () {

                    alert("Error!");

                },

                complete: function () {

                    $("#divloader").hide()

                }

            });
        }



    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


