
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">GIỎ HÀNG</h4>
        </div>
        <div class="modal-body">

            <p class="alert alert-danger">Giỏ hàng trống</p>




        </div>
        <div class="modal-footer">

            <a class="btn btn-success">Hoàn tất</a>


        </div>
    </div>
</div>