


@model IPagedList<ThucDon>
@*import this so we get our HTML Helper*@
@using X.PagedList.Mvc.Core;


@using X.PagedList;
@using X.PagedList.Web.Common
<div id="list">

    <div class="item row align-items-center">
        <div class="col-sm-3 pr-5">
            <img class="product-img" src="~/img/pizza-1.png">
        </div>
        <div class="details col-sm-9">
            <div class="item__header">
                <h3 class="item__title">Cheese Pizza</h3>
                <span class="item__dots"></span>
                <span class="item__price">$15</span>
            </div>
            <p class="item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.
            </p>
            <button class="btn btn-sm btn-outline-primary my-cart-btn"
                    data-id="1" data-name="Cheese Pizza" data-price="15" data-quantity="1"
                    data-image="~/img/pizza-1.png">
                Add to cart
            </button>
        </div>
    </div>
    <div class="item row align-items-center">
        <div class="col-sm-3 pr-5">
            <img class="product-img" src="~/img/pizza-2.png">
        </div>
        <div class="details col-sm-9">
            <div class="item__header">
                <h3 class="item__title">Hot Pastrami</h3>
                <span class="item__dots"></span>
                <span class="item__price">$25</span>
            </div>
            <p class="item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.
            </p>
            <button class="btn btn-sm btn-outline-primary my-cart-btn"
                    data-id="2" data-name="Hot Pastrami" data-price="25" data-quantity="1"
                    data-image="./img/pizza-2.png">
                Add to cart
            </button>
        </div>
    </div>
    <div class="item row align-items-center">
        <div class="col-sm-3 pr-5">
            <img class="product-img" src="./img/pizza-3.png">
        </div>
        <div class="details col-sm-9">
            <div class="item__header">
                <h3 class="item__title">Classic Pizza</h3>
                <span class="item__dots"></span>
                <span class="item__price">$20</span>
            </div>
            <p class="item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.
            </p>
            <button class="btn btn-sm btn-outline-primary my-cart-btn"
                    data-id="3" data-name="Classic Pizza" data-price="20" data-quantity="1"
                    data-image="./img/pizza-3.png">
                Add to cart
            </button>
        </div>
    </div>
    <div class="item row align-items-center">
        <div class="col-sm-3 pr-5">
            <img class="product-img" src="./img/pizza-4.png">
        </div>
        <div class="details col-sm-9">
            <div class="item__header">
                <h3 class="item__title">Country Pizza</h3>
                <span class="item__dots"></span>
                <span class="item__price">$17</span>
            </div>
            <p class="item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum
                officia eaque nobis ut.
            </p>
            <button class="btn btn-sm btn-outline-primary my-cart-btn"
                    data-id="4" data-name="Country Pizza" data-price="17" data-quantity="1"
                    data-image="./img/pizza-4.png">
                Add to cart
            </button>
        </div>
    </div>


    <div class="text-right">

        @{
            var pageRender = new PagedListRenderOptions
            {
                MaximumPageNumbersToDisplay = 5,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                DisplayPageCountAndCurrentLocation = false,
                UlElementClasses = new[] { "pagination" },
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },


                ContainerDivClasses = new[] { "pagination-container" }


            };
        }
        @{
            var searchModel = ViewBag.Data as PhanLoaiSearchModel;
        }


        @Html.PagedListPager((IPagedList<PhanLoai>)ViewBag.Names, page => Url.Action("PageList", new { page, TenLoai = searchModel.TenLoai }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pageRender, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
    </div>




</div>






