

@model WebQuanAn.Models.AdminUser

<h4>Cập nhật thông tin</h4>
<hr />
<div class="row">
    <div class="d-flex flex-wrap">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-6" style="display:none">
            <label class="control-label">Id</label>
            <input asp-for="Id" id="idpb" readonly class="form-control" />

        </div>

        <div class="form-group col-6">
            <label asp-for=" Ho" class="control-label"></label>
            <input asp-for="Ho" class="form-control" required />
            <span asp-validation-for="Ho" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for=" Ten" class="control-label"></label>
            <input asp-for="Ten" class="form-control" required />
            <span asp-validation-for="Ten" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for=" Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label asp-for=" SDT" class="control-label"></label>
            <input asp-for="SDT" class="form-control" required />
            <span asp-validation-for="SDT" class="text-danger"></span>
        </div>

        <div class="form-group col-6"style="display:none">
            <label asp-for=" MatKhau" class="control-label"></label>
            <input asp-for="MatKhau" class="form-control"  />
            <span asp-validation-for="MatKhau" class="text-danger"></span>
        </div>
        <div class="form-group col-6" style="display:none">
            <label asp-for=" MatkhauCF" class="control-label"></label>
            <input asp-for="MatkhauCF" class="form-control"  />
            <span asp-validation-for="MatkhauCF" class="text-danger"></span>
        </div>



        <div class="form-group col-6">
            <label asp-for="Role" class="control-label"></label>
            <select asp-for="Role" class="form-control" asp-items="Html.GetEnumSelectList<Role>()">
                <option value="0">Chọn quyền</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <div class="form-group col-6">

            <label class="control-label">&nbsp;</label>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" checked asp-for="TrangThai" checked">
                <label class="form-check-label" asp-for="TrangThai"></label>
            </div>


        </div>
        <div class="form-group col-6">
            <label for="ImageFile" class="control-label">Hình Ảnh:&nbsp;</label><input asp-for="FileHinh" accept="image/*" id="imgfile" />
            <br />
            <img src="~/Images/unchoseUser.png" id="imgUser" width="100" height="100" />

            <input asp-for="Hinh"   id="UrlHinh" />
        </div>



    </div>
</div>

<div>
  
</div>
<script>
    function readURLc(input) {


        if (input.files && input.files[0]) {
            var reader = new FileReader();
            $('#UrlHinh').val(input.files[0].name);
            reader.onload = function (e) {
                $('#imgUser').attr('src', e.target.result);


            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgfile").change(function () {

        readURLc(this);


    });
    function UploadFile() {

        var fileName = $("#imgfile").val();


        if (fileName) { // returns true if the string is not empty
            var fileUpload = $("#imgfile").get(0);

            var files = fileUpload.files;

            var data = new FormData();

            data.append(files[0].name, files[0]);

            $.ajax({

                type: "POST",

                url: "/PageHelper/CoppyImage",

                contentType: false,

                processData: false,

                data: data,

                async: false,


                success: function (message) {



                },

                error: function () {

                    alert("Error!");

                },

                complete: function () {

                    $("#divloader").hide()

                }

            });
        }


    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


