

@model WebQuanAn.Models.AdminUser

<h4>Cập nhật thông tin</h4>
<hr />
<div class="row">
    <div class="d-flex flex-wrap">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-6">
            <label  class="control-label">Id</label>
            <input asp-for="Id" id="idpb" readonly class="form-control" />
            
        </div>
        
                   <div class="form-group col-6">
            <label asp-for=" Ho" class="control-label"></label>
            <input asp-for="Ho"  class="form-control" required />
            <span asp-validation-for="Ho" class="text-danger"></span>
          </div>
                   <div class="form-group col-6">
            <label asp-for=" Ten" class="control-label"></label>
            <input asp-for="Ten"  class="form-control" required />
            <span asp-validation-for="Ten" class="text-danger"></span>
          </div>
                   <div class="form-group col-6">
            <label asp-for=" Email" class="control-label"></label>
            <input asp-for="Email"  class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
                   <div class="form-group col-6">
            <label asp-for=" MatKhau" class="control-label"></label>
            <input asp-for="MatKhau"  class="form-control" required />
            <span asp-validation-for="MatKhau" class="text-danger"></span>
          </div>
                   <div class="form-group col-6">
            <label asp-for=" Hinh" class="control-label"></label>
            <input asp-for="Hinh"  class="form-control"  />
            <span asp-validation-for="Hinh" class="text-danger"></span>
          </div>
                   <div class="form-group col-6">
            <label asp-for=" SDT" class="control-label"></label>
            <input asp-for="SDT"  class="form-control" required />
            <span asp-validation-for="SDT" class="text-danger"></span>
          </div>
                   <div class="form-group col-6">
            <label asp-for=" TrangThai" class="control-label"></label>
            <input asp-for="TrangThai"  class="form-control" required />
            <span asp-validation-for="TrangThai" class="text-danger"></span>
          </div>
         

    </div>
</div>

<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


