@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Xác thực tài khoản";
    Layout = "ProfileLayout";
}





    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img data-toggle="modal" data-target="#exampleModal" src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Chào mừng bạn</h3>
                <p>
                    Xác thực tài khoản thành công bằng <strong>@Model.ProviderDisplayName</strong>.
                    Cập nhật thông tin để liên kết tài khoản
                </p>
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-light text-dark">Đăng nhập bằng tài khoản</a>
            </div>
            <div class="col-md-8 register-right">
                <div class="col-12">

                </div>


                <div class="tab-content" id="myTabContent">
                    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="col-10 ml-auto p-2">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>

                       
                        <div class="row">
                            <div class="form-group col-6">
                                <label asp-for="Input.Name"></label>
                                <input asp-for="Input.Name" class="form-control" />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-6">
                                <label asp-for="Input.NgaySinh"></label>
                                <input asp-for="Input.NgaySinh" class="form-control" />
                                <span asp-validation-for="Input.NgaySinh" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label asp-for="Input.Sdt"></label>
                                <input asp-for="Input.Sdt" class="form-control" />
                                <span asp-validation-for="Input.Sdt" class="text-danger"></span>
                            </div>
                            <div class="form-group col-6">
                                <div class="form-group">
                                    <label asp-for="Input.GioiTinh" class="control-label"></label>
                                    <select asp-for="Input.GioiTinh" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                                        <option value="0">Chọn giới tính</option>
                                    </select>
                                    <span asp-validation-for="Input.GioiTinh" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label asp-for="Input.FacebookLink"></label>
                                <input asp-for="Input.FacebookLink" class="form-control" />
                                <span asp-validation-for="Input.FacebookLink" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </form>

                </div>

            </div>
        </div>

    </div>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


