@page
@model LoginModel

@{


    Layout = "ProfileLayout";

}






    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Đăng Nhập</h5>
                        <form id="account" method="post" class="form-signin">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-label-group">
                                <input asp-for="Input.Email" class="form-control" placeholder="Nhập Email">
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-label-group">
                                <input asp-for="Input.Password" class="form-control" placeholder="Nhập Email">
                                <label asp-for="Input.Password">Email</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng nhập</button>


                        </form>

                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-signin">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                    <div class="">
                                        <button type="submit" class="btn btn-lg btn-google btn-block text-uppercase" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-google-plus" aria-hidden="true"></i> Đăng nhập bằng tài khoản Google</button>
                                    </div>
                                        
                                    }
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/mycart.js"></script>
    <script src="~/js/mycart-custom.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="~/js/custom-general.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
